*{
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin-bottom: 60px;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #111;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: rgba(0, 0, 0, 0.158); /* semi-transparent black */
    backdrop-filter: blur(10px);
    padding: 20px 0;
    
    text-align: center;
    top: 0;
}

.logo {
    display: inline-block;
}

nav {
    display: inline-block;
    margin-left: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li { 
    display: inline-block;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Hero Section */
.hero {
    position: relative;
    background-image: url('/resources/img/hero.png');
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
    padding: 100px 0;
}

.hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100px; /* Tinggi efek fade, sesuaikan sesuai kebutuhan */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(17, 17, 17) 100%);
    pointer-events: none; /* Pastikan elemen pseudo tidak mengganggu interaksi */
  }

.hero-content {
    text-align: center;
    margin-top: 18vh;
}

.hero-images {
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
}

.image {
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
    background-color: #333;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image p {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    color: #fff;
}

.hero-images .image:hover img {
    transform: scale(1.1);
}

/* About Section */
.about {
    padding: 100px 0;
    margin-top: 27em;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-details {
    flex: 1;
}

.about-image {
    display: flex;
    position: relative;
}

.about-image img {
    width: 100%;
    height: auto;
}

/* Service Section */
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.service {
    background-color: #160E61;
    border: 2px solid white;
    border-radius: 40px;
    padding: 20px;
}

.service:hover {
    border: 2px solid #160E61;
    transition: border 0.7s ease;
}


.service-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-image img {
    width: 60px;
}


.services-list ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

.services-list {
    margin-bottom: 25px;
}

.services-list ul {
    padding: 0;
    margin: 0;
}

.services-list ul li a img {
    max-width: 25px;
}

.services-list ul li a {
    display: flex;
    font-family: 'Mulish';
    align-items: center;
    gap: 10px;
}

.services-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-btn .btn {
    background-color: #fff;
    text-align: center;
    color: #160E61;
    font-family: 'Outfit';
    width: 100%;
    max-width: 100%;
    padding: 13px;
    border-radius: 50px;
}

.service h1 {
    margin-bottom: 40px;
    font-family: 'Outfit';
}

.service p {
    font-family: 'Mulish';
    font-size: 14px;
    margin-bottom: 40px;
}

.service-price {
    font-family: 'Outfit';
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
}

.service-list-title {
    font-family: 'Outfit';
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 16px;
}

.service-end {
    font-family: 'Mulish';
}


/* Gallery Section */
.gallery {
    margin-top: 7em;
}

.gallery-frames {
    margin-top: 100px;
}

.gallery-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.gallery-paragraph p{
    font-family: 'Outfit';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
  
/* Testimonial */
.testimonials {
    margin-top: 13em;
    margin-bottom: 13em;
    flex-wrap: nowrap;
    display: flex;
    overflow: hidden;

}

.testimonial-top {
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: center;
}

/* Footer */
footer {
    position: relative;
    overflow: hidden;
    height: fit-content;
    z-index: 0;
    max-width: 80em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

footer::before {
    content: '';
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: hidden;
    top: 55%;
    left: 50%;
    border-radius: 70%;
    width: 120em;
    max-width: 120em;
    height: 50em;
    z-index: -1;
    background-color: #160E61;
}

  .footer-container {
    max-width: 1100px; /* Atur lebar maksimal sesuai kebutuhan */
    margin: 0 auto; /* Tengah-tengah konten dalam kontainer */
    padding: 0 20px; /* Opsional, untuk memberikan ruang pada konten */
}

  .footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16em;
  }

  .footer-top-left-img{
    width: 400px;
  }

  .footer-top-right-img {
    width: 400px;
    display: flex;
    justify-content: first baseline;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
  }

  .footer-nav-1 {
    display: flex;
    flex-direction: column;
}

  .footer-nav-title {
    font-family: 'DM Sans';
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2em;
  }

  .footer-nav-list {
    font-family: 'DM Sans';
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .footer-nav-list li a {
    color: #B0B0B0;
  }

  .footer-nav-list li {
    margin-bottom: 10px;
  }

  .footer-right-bottom-content {
    display: flex;
    gap: 80px;
  }

  .footer-paragraph {
    font-family: 'Mulish';
    width: 28em;
    font-size: 16px;
    padding-left: 2em;
  }

  .footer {
    margin: 0;
    padding: 0;
}


  .footer-end {
    background-color: #040038;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5em;
    height: fit-content;
  }

  .footer-end-content {
    padding: 40px;
    font-family: 'Mulish';
    font-size: 14px;
  }
